<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: url(https://img1.goodfon.ru/original/1920x1080/8/e5/abstrakciya-zelenyy-belyy.jpg);
            background-repeat: repeat;
            font-weight: bold;
        }

    </style>
</table>  
<body>
    <table border="1">
        <tr>
            <th>ID/Date</th>
                {% for i in arrayDate %}
                    <td>{{i}}</td>
                {% endfor %}
        </tr>
        {% for i in range(0, lenAns) %}
        <tr>
            <td>{{ans[i][0]}}</td>  
            {% for j in range(1,lenAnsI) %}
                {% if ans[i][j] == True %}
                    <td>Free</td>
                {% else %}
                    <td style="background: rgb(175, 1, 1)" >Busy</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </table>

</body>
</html>